.QuizList {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 0 15px;

  > div {
    margin: 0 auto;
    h1 {
      text-align: center;
    }
  }

  .actions {
    width: max-content;
    display: flex;
    justify-content: space-between;
    i {
      padding-left: 10px;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
    border-radius: 10px;

    li {

      a {
        text-decoration: none;

        &:hover {
          opacity: .7;
        }
      }
    }
  }
}
