.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background-image: url('../../assets/bg.jpg');
  background-size: cover;

  h1 {
    color: white;
    margin-left: 10px;
  }
}

.QuizWrapper {
  width: 600px;
}
