.MenuToggle {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: opacity, left .22s ease-in;
  z-index: 100;

  &:hover {
    opacity: .7;
  }

  &.open {
    left: 320px;
  }
}

@media screen and (max-width: 992px) {
  .MenuToggle {
    display: block;
  }
}
